.container-full
    .content-wrap.content-0
        .container
            .row.mb-0.bg
                .col-lg-6.px-0
                    .text-box.justify-content-start 
                        h4.subtitle-secondary.px-3 When a solar company sold him rooftop panels for his house, they also sold him a battery. It’s been sitting in his basement for two years, not doing much.
                        //- img.auto-size(src="/aemo-gradient-indis.png" alt="aemo gradient text")
                .col-lg-6.px-0
                    img(src="/battaries.png" alt="Battaries")
        .container-full.row.mb-0.bg.gray.pt-0.mt-5.pb-5.mb-5
            .content-wrap.content-0
                .container
                    .content-wrap.content-0
                        .row    
                            .col-lg-6
                                .text-box
                                    h4.subtitle-secondary.mb-4  Now with Project EDGE, several utilities are using Mark’s solar PV system and battery to help balance the grid...
                                    h3.body-text And they’re <u>Paying him</u> to do it!
                            .col-lg-6.px-0
                                img(src="/block-1-house.svg" alt="house")
        .container
            .content-wrap.content-0                
                .row.mb-0.col-reversed
                    .col-lg-6
                        img(src="/hexagon.svg" alt="hexagon")
                    .col-lg-6.px-0
                        .text-box.to-right.s-t-center
                            h4.subtitle-secondary He’s also helping to
                            h3.body-text <u>Decarbonize the grid</u>
                            h4.subtitle-secondary.mt-2 and support a clean energy future.
                            //--article.f-medium.h-42 because my battery is being used to balance the grid—not a fossil-fuel powered plant...