.container-full
    .content-wrap.content-0
        //- .container
        //-     .row.mb-0.bg
        //-         .col-lg-6.px-0
        //-             .text-box.justify-content-start 
        //-                 h4.subtitle-secondary.px-3 When a solar company sold him rooftop panels for his house, they also sold him a battery. It’s been sitting in his basement for two years, not doing much.
        //-                 //- img.auto-size(src="/aemo-gradient-indis.png" alt="aemo gradient text")
        //-         .col-lg-6.px-0
        //-             img(src="/battaries.png" alt="Battaries")
        .container-full.row.mb-0.bg.gray.pt-0.mt-5.pb-5.mb-5
            .content-wrap.content-0
                .container.pt-0.pt-lg-3.my-3.my-lg-4
                    .content-wrap.content-0
                        .row   
                            .col-lg-6
                                .text-box
                                    h4.subtitle-secondary.mt-4.mb-4 Under Project EDGE, Mark’s assets can sell services to <br> utilities who manage the grid. <br> In exchange, he gets paid, generating
                                    h3.body-text new revenues from <br> his battery and solar panels
                            .col-lg-6.px-0
                                img(src="/block-1-house.svg" alt="house")
        .container.pt-0.pt-lg-3
            .content-wrap.content-0                
                .row.mb-0.col-reversed
                    .col-lg-6
                        img(src="/hexagon.svg" alt="hexagon")
                    .col-lg-6.mt-0.px-0
                        .text-box.to-right.s-t-center
                            h4.subtitle-secondary.mb-4.mx-4.mx-lg-0 Through Mark’s participation in Project EDGE, he and other Australians with similar systems are helping to balance a rapidly 
                            h3.body-text.mb-4.mb-lg-0.mx-4.mx-lg-0 decarbonizing grid in support of a clean energy future