.container-full
    .content-wrap.content-1
        .container-full.bg.gray.pb-5.pt-5.custom-zindex.num-2
            .container
                .row.mb-0
                    .col-lg-6.px-0
                        .text-box.a-center.mx-3.mx-lg-0
                            h3.subtitle-upper Project EDGE is giving her the ability to interact with customer-owned assets <br> that she was previously <br>blind to: 
                    .col-lg-6.px-0
                        .text-box.a-center.mx-3.mx-lg-2
                            h4.subtitle-secondary solar systems, batteries, and other sources of flexible load, often operated by aggregators.
        .container
            .row.mb-0
                .col-lg-6.px-0.mt-0.mt-lg-auto
                    img(src="/scooter.png" alt="scooter")
                .col-lg-6.px-0.timeline 
                    .text-box.to-right.flex-no-gaps.mx-3.mx-lg-0
                        h3.body-text.my-5 Now that these assets, customers, and aggregator companies have <div>digital identities</div> 
                        h3.subtitle-upper.mb-5 anchored on the<br> <u>Energy Web Chain</u>
                        h4.subtitle-secondary we know <strong>where</strong> they are, <strong>what</strong> they can do, and can <strong>communicate</strong> with them—so that we can <strong>rely</strong> on them to store or discharge energy to the grid as needed, as well as provide other grid services. 
        .container
            .row.mb-0
                .col-lg-6.px-0
                    .text-box.mx-3.mx-lg-0
                        h3.body-text.mb-4 Before we were blind, <br>  and now we see 
                        h4.subtitle-secondary thanks to the traceability <br>  and transparency the <br>  Energy Web stack enables.
                .col-lg-6.timeline.px-0
                    img(src="/aemo-eye.png" alt="aemo-el")(class="large-sc").to-right.pb-5
                    img(src="/sm-wider-eye.png" alt="aemo-el")(class="small-sc")
        .container-full.text-overlay-container
            .bg-purple.img-fixed
                .text-overlay-container.d-flex.align-items-center
                    .text-block-5.d-flex.align-items-center.justify-content-center.text-center.mx-3.px-0.mx-lg-5.px-lg-5.flex-column
                        h3.body-text-inverted.mt-0.mt-lg-0.mx-4.mx-lg-4 Are you a grid operator and want to learn more? <br> Head to the project microsite that has more <br> specialized information for you.
                        a(href='https://www.energyweb.org/aemo/' target="_parent")
                            .btn-primary.mt-5.link-aemo energyweb.org/aemo
                .w-100.d-flex.h-100                
                    img(src="/world-footer-aemo.png", alt="world-footer")    
        //- .border-liner